<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	
	<!--Flatpickr-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	
	
	<title>店舗詳細</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
  	<div th:replace="~{fragment :: header}"></div>

  		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
			                   <div class="row justify-content-center">
			                       <div class="col-xxl-9 col-xl-10 col-lg-11">
			                           <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			                               <ol class="breadcrumb mb-0">                        
			                                   <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
			                                   <li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
			                                   <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
			                               </ol>
			                           </nav> 
			                           
			                           <h1 class="mb-4 text-center" th:text="${shop.getName()}"></h1>                                                           
			                           
			                           <div th:if="${errorMessage}" class="alert alert-danger">
			                               <span th:text="${errorMessage}"></span>
			                           </div>                                                                         
			                           
			                           <div class="mb-4">
			                               <img th:if="${shop.getImageName()}" th:src="@{/storage/__${shop.getImageName()}__}" class="w-100" alt="民宿画像">
			                               <img th:unless="${shop.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
			                           </div> 
			                           
			                           <div class="container">  
			                               <div class="row">
			                                   <div class="col-lg-8 container mb-4">            
			                                       <div class="row pb-2 mb-2 border-bottom">
			                                           <div class="col-4">
			                                               <span class="fw-bold">店舗名</span>
			                                           </div>
			                   
			                                           <div class="col">
			                                               <span th:text="${shop.getName()}"></span>
			                                           </div>
			                                       </div>                    
			                   
			                                       <div class="row pb-2 mb-2 border-bottom">
			                                           <div class="col-4">
			                                               <span class="fw-bold">説明</span>
			                                           </div>
			                   
			                                           <div class="col">
			                                               <span class="naggoyameshi-pre-wrap" th:text="${shop.getDescription()}"></span>
			                                           </div>
			                                       </div>
			                                
			                                      <div class="row pb-2 mb-2 border-bottom">
			                                           <div class="col-4">
			                                               <span class="fw-bold">定員</span>
			                                           </div>
			                   
			                                           <div class="col">
			                                               <span th:text="${shop.getCapacity() + '人'}"></span>
			                                           </div>
			                                       </div>                                
			                                       
			                                       <div class="row pb-2 mb-2 border-bottom">
			                                           <div class="col-4">
			                                               <span class="fw-bold">郵便番号</span>
			                                           </div>
			                   
			                                           <div class="col">
			                                               <span th:text="${shop.getPostalCode()}"></span>
			                                           </div>
			                                       </div>   
			                                       
			                                       <div class="row pb-2 mb-2 border-bottom">
			                                           <div class="col-4">
			                                               <span class="fw-bold">住所</span>
			                                           </div>
			                   
			                                           <div class="col">
			                                               <span th:text="${shop.getAddress()}"></span>
			                                           </div>
			                                       </div>   
			                                       
			                                       <div class="row pb-2 mb-2 border-bottom">
			                                           <div class="col-4">
			                                               <span class="fw-bold">電話番号</span>
			                                           </div>
			                   
			                                           <div class="col">
			                                               <span th:text="${shop.getPhoneNumber()}"></span>
			                                           </div>
			                                       </div>                                
			                                   </div>
			                                   
			                                   <div sec:authorize="!hasAnyRole('PAID', 'ADMIN')" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
			                                       <div class="card">
			                                           <div class="card-body">                                                                                                                                                                                                                     
			                                               <p class="card-text">予約は有料会員限定です。</p>                                                                                                                                            
														   <a th:href="@{/subscription}" class="btn btn-sm btn-primary ms-3">有料会員登録へ</a>                                                                                                               
			                                           </div>
			                                       </div>  
			                                   </div> 
											   
											   <div sec:authorize="hasAnyRole('PAID', 'ADMIN')" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
											       <div class="card">
											           <div class="card-body"> 
											               <form method="get" th:action="@{/shops/__${shop.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
															<div class="form-group mb-2">                                            
															    <label for="startAt" class="col-form-label text-md-left fw-bold">予約日</label>    
															    <div th:if="${#fields.hasErrors('startAt')}" class="text-danger small mb-2" th:errors="*{startAt}"></div>                                          
															    <input type="text" class="form-control" th:field="*{startAt}">                                                                     
															</div>

											                   <div class="form-group mb-4">                                            
											                       <label for="partySize" class="col-form-label text-md-left fw-bold">予約人数</label>  
											                       <div th:if="${#fields.hasErrors('partySize')}" class="text-danger small mb-2" th:errors="*{partySize}"></div>                                            
											                       <input type="number" class="form-control" th:field="*{partySize}" min="1">                                                                     
											                   </div>
											                                                                       
											                   <div class="form-group">
											                       <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
											                   </div>
											               </form>                                                                     
											           </div>
											       </div>  
											   </div>   
			                               </div>                                                                                             
			                           </div>
			                       </div>
			                   </div>
			               </div>
  		</main>

  <div th:replace="~{fragment :: footer}"></div>
</div>

<div th:replace="~{fragment :: script}"></div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
<script th:src="@{/js/flatpickr.js}"></script>    

</body>
</html>